/* Resets  */
/**
* html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
* Richard Clark (http://richclarkdesign.com)
* http://cssreset.com
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
display:block;
}
nav, ul {
list-style:none;
}
blockquote, q {
quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content:'';
content:none;
}
a {
margin:0;
padding:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}
/* change colours to suit your needs */
ins {
background-color:#ff9;
color:#000;
text-decoration:none;
}
/* change colours to suit your needs */
mark {
background-color:#ff9;
color:#000;
font-style:italic;
font-weight:bold;
}
del {
text-decoration: line-through;
}
abbr[title], dfn[title] {
border-bottom:1px dotted;
cursor:help;
}
table {
border-collapse:collapse;
border-spacing:0;
}
/* change border colour to suit your needs */
hr {
display:block;
height:1px;
border:0;
border-top:1px solid #cccccc;
margin:1em 0;
padding:0;
}
input, select {
vertical-align:middle;
}
/* Global elements */
body {
    background-color: #999;
}
.wrapper {
    width: 960px;
    margin: auto;
}
/* Visual media */
.logo {
    color: #fff;
    font: normal 28px/1.5 monospace;
}
#login li {
    margin-top: 15px;
}
.error li {
    padding: 5px 0;
}
/* Article structure */
.topNav {
    margin: 20px 0;
}
.topNav > ul > li {
    float: left;
    margin-right: 10px;
}
.topNav > ul > li > a {
    color: #000;
}
.content {
    background-color: #fff;
    border-radius: 5px 5px 0 0;
    padding: 30px;
    min-height: 500px;
}
.contentLeft {
    width: 550px;
    min-height: 100px;
}
.contentLeft > h1 {
    padding-bottom: 20px;
}
.sidebar {
    border-left: 1px dashed #333;
    padding-left: 10px;
    min-height: 100px;
    min-width: 180px;
}
.sidebar h1 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.sidebar li {
    margin-bottom: 10px;
}
.footerInner {
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    padding: 15px 30px 20px; 
    border-top: 1px solid #ddd;
}
/* Forms */
/* Tables */
/* Reusable */
.clearfix:after {
    content: '';
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
}
.left {
    float: left;
}
.right {
    float: right;
}
